@import "config", "responsive";

img {
  display: block;
  width: 100%;
}

body {
  background: map-get($secondary-color, Light-grayish-cyan);
  height: 100vh;
}

.text-secondary {
  color: map-get($secondary-color, Grayish-cyan);
  font-size: 16px;
  margin-bottom: 0.3rem;
}

::placeholder {
  color: map-get($secondary-color, Very-dark-cyan);
  opacity: 1;
  font-size: 24px;
  font-weight: 700;
  text-align: right;
}

header {
  width: 100%;

  .logo {
    max-width: 85px;
    margin: 3.2rem auto 2.6rem;

    @include media-lg {
      margin: 5.2rem auto 3.2rem;
      // margin: 10.2rem auto 5.5rem;
    }
  }
}

main {
  width: 100%;
  background-color: $neutral-color;
  border-radius: 15px 15px 0 0;
  overflow: hidden;

  @include media-lg {
    width: 64.5%;
    // height: 44.8%;
    border-radius: 27px;
    margin: auto;
  }

  .splitter {
    padding: 2.2rem 2rem;
    display: flex;
    flex-direction: column;

    @include media-lg {
      padding: 2rem 2.5rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }

    .bill-container {
      @include media-lg {
        padding-left: 0.8rem;
      }

      &__input {
        .icon-dollar {
          max-width: 12px;
          position: relative;
          bottom: 33px;
          left: 20px;
        }

        .bill {
          width: 98%;
          padding: 0.45rem 1rem;
          background-color: map-get($secondary-color, Very-light-grayish-cyan);
          border: none;
          border-radius: 12px;
          text-align: right;
          font-size: 24px;
          color: map-get($secondary-color, Very-dark-cyan);
          font-weight: 700;

          @include media-lg {
            padding: 0.38rem 1.2rem;
            border-radius: 8px;
          }
        }

        @include media-lg {
          padding: 0.9rem 0 1.6rem;
        }
      }

      &__select {
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;

        @include media-lg {
          margin-bottom: 2.5em;
        }

        .text-secondary {
          margin-bottom: 1rem;
        }

        .select-container {
          display: grid;
          grid-template-columns: repeat(2, minmax(0, 1fr));
          gap: 1.05rem;

          @include media-lg {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 0.95rem;
          }

          .select-tip {
            padding: 0.4rem;
            border: none;
            background: map-get($secondary-color, Very-dark-cyan);
            color: $neutral-color;
            border-radius: 8px;
            font-size: 24px;
            font-weight: 700;
            cursor: pointer;
            @include transition-ease;

            @include media-lg {
              padding: 0.4rem;
            }

            &__custom {
              background-color: map-get(
                $secondary-color,
                Very-light-grayish-cyan
              );
              border: none;
              color: map-get($secondary-color, Dark-grayish-cyan);
              text-align: right;
              padding-right: 1rem;
              font-size: 24px;
              font-weight: 700;

              @include media-lg {
                padding-right: 1.5rem;
              }
            }

            &__custom.active {
              background-color: map-get(
                $secondary-color,
                Very-light-grayish-cyan
              );
            }
          }

          .active {
            background: $primary-color;
            color: map-get($secondary-color, Very-dark-cyan);
          }
        }
      }

      &__Nop {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.9rem;

        .people-text {
          display: flex;
          justify-content: space-between;

          .text-secondary {
            font-size: 14px;

            @include media-lg {
              font-size: 16px;
            }
          }

          .error-msg {
            color: red;
            font-size: 14px;
            opacity: 1;
            @include transition-ease;

            @include media-lg {
              font-size: 18px;
            }
          }

          .show-error-msg {
            opacity: 1;
          }
        }

        .icon-person {
          max-width: 12px;
          position: relative;
          bottom: 33px;
          left: 20px;
        }

        .Nop {
          width: 100%;
          padding: 0.45rem 1rem;
          background-color: map-get($secondary-color, Very-light-grayish-cyan);
          border: none;
          border-radius: 12px;
          text-align: right;
          font-size: 24px;
          color: map-get($secondary-color, Very-dark-cyan);
          font-weight: 700;
        }
      }
    }

    .tip-container {
      background: map-get($secondary-color, Very-dark-cyan);
      padding: 1.4rem 0.25rem 2.4rem;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include media-lg {
        margin-bottom: 0.9rem;
        padding: 1.7rem 1.5rem 2.4rem;
      }

      &__text {
        .tip-container__amount {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 1rem;

          h2 {
            font-size: 16px;
            color: $neutral-color;
          }
          h3 {
            font-size: 12px;
            color: map-get($secondary-color, Grayish-cyan);
          }

          .number {
            font-size: 32px;
            color: $primary-color;
            font-weight: 700;

            @include media-lg {
              font-size: 48px;
            }
          }

          @include media-lg {
            padding-bottom: 1.3rem;
          }
        }

        .tip-container__total {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.3rem 1rem 2rem;

          h2 {
            font-size: 16px;
            color: $neutral-color;
          }
          h3 {
            font-size: 12px;
            color: map-get($secondary-color, Grayish-cyan);
          }

          .number {
            font-size: 32px;
            color: $primary-color;
            font-weight: 700;

            @include media-lg {
              font-size: 48px;
            }
          }
        }
      }

      .reset {
        display: flex;
        width: 90%;
        margin: 0 auto;
        padding: 0.6rem;
        background: $primary-color;
        border: none;
        font-size: 20px;
        font-weight: 700;
        color: map-get($secondary-color, Very-dark-cyan);
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }
}
